<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <article>
      <h1> <%= locals.article.title %> </h1>
      <p class="text-secondary"> <%= article.date.toLocaleDateString(undefined, {month: "long", day: "numeric", year: "numeric",}) %> </p>
      <p> <%= locals.article.content %> </p>

      <footer>
        <p>Author: <%= locals.author %></p>
      </footer>

    </article>
  </div>

</body>

</html>